body{
	background-color: white;
	font-family: 'Oxygen', sans-serif;
	color: #696969;
	font-size: 16px;
}

#header-nav{
	background-color: #000000;
	border-radius: 0px;

}

.navbar-brand{
	font-size: 2em;
	padding-bottom: 10px;
	text-align: left;
}

#collapsable-nav {
	
border: 2px solid black;
}
#nav-list a{
    color:black;
	text-align: center;
	background-color: purple;
	font-size: 1.3em;
}
#nav-list a:hover{
	background-color: #FF00FF;
}
.icon-bar{
	background-color: green;
	border: 2px solid blue;
}
p{
	font-size: 2em;
	font-family: 'Oxygen', sans-serif;
	color:	black;
	text-transform: uppercase;
}
#para{
	font-size: 1em;
	font-family: 'Oxygen', sans-serif;
	color:	#FF8C00;
	text-transform: uppercase;
}
h3{
	font-family: 'Oxygen', sans-serif;
	font-style: bold;
	color: green;
}
.container{
	border: 2px solid #191970;
	height: 1000px;
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
}
#chicken{
	background-color: #FFFFF0;
}
#beef{
	background-color: #E6E6FA;
}
#sushi{
	background-color: #FFFACD;
}


@media (min-width: 992px) and (max-width: 1199px){
	
}

@media (min-width: 768px) and (max-width: 991px){
	
}

@media (max-width: 767px){
	
}